@import "fonts";
@import "icons";
@import "colors";

// Default Font
$fontFamily: "Gilroy";
$fontSize: 16;

// Main Container Sizes & Breakpoints
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import "null";
@import "mixins";
@import "forms";
@import "ui";

body {
	color: $baseColor;
	font-size: $fontSize + px;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	flex: 1 1 auto;
	padding: 100px 30px 30px 30px;
	display: flex;

	// .page__side
	&__side {
		flex: 0 0 300px;
		padding: 0px 20px 0px 0px;
	}

	// .page__item
	&__item {
	}

	// .page__body
	&__body {
		flex: 1 1 auto;
		min-width: 0;
	}
}
