@import "fonts";
@import "icons";

// Default Font
$fontFamily: "Gilroy";
$fontSize: 16;

// Main Container Sizes & Breakpoints
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import "null";
@import "mixins";

body {
	color: #000;
	font-size: $fontSize + px;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

@import "forms";

.page {
	flex: 1 1 auto;
	padding: 100px 30px 30px 30px;
	display: flex;
	// .page__side
	&__side {
		flex: 0 0 300px;
		padding: 0px 20px 0px 0px;
	}
	// .page__item
	&__item {
	}
	// .page__body
	&__body {
		flex: 1 1 auto;
		min-width: 0;
	}
}
